<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <!--<link href="quill.snow.css" rel="stylesheet">-->
</head>

<body>

<h1>Example App: Home</h1>

<div id="app">
 
</div>

<!--<div id="#app">come <ComponentA></ComponentA><span>{message}</span></div>-->


<script src="/build/bundle.js"></script>

</body>

</html>