<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <!--<link href="quill.snow.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <script>
        $(document).ready(function(){

            $(".ui.dropdown").dropdown();

            $(".ui.modal").modal();
        });
    </script>
</head>

<body>


<div id="app">
 
</div>




<!--<div id="#app">come <ComponentA></ComponentA><span>{message}</span></div>-->


<script src="/build/Editor.bundle.js"></script>

</body>

</html>